@import "addons.scss";
@import "trelloplus.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in trelloplus.scss */
.trelloplus {
  @include addons;
  @include trelloplus;
}
body{
	height:100%;
}
.bordered-grid{
	height: 100% !important;
	width: auto !important;
}
.task{
	width: 200px !important;
	height: 100px !important;
	background-color:orange;
	border: 1px solid !important;
}
.board{
	width: 100% !important;
	height: 100% !important;
	background-color:yellow;
	
}

.list{
	width: 200px !important;
	height: 100% !important;
	background-color:yellow;
	
}

.list-header{
	border-bottom: 1px solid !important;
}

.v-slot-bordered-grid{
	height: 100%;
	overflow-x: scroll;
}