@import "addons.scss";
@import "trelloplus.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in trelloplus.scss */
.trelloplus {
  @include addons;
  @include trelloplus;
}
body{
	height:100%;
}
.bordered-grid{
	height: 100% !important;
	width: auto !important;
}
.task{
	width: 200px !important;
	height: 200px !important;
	background-color:orange;
	border: 1px solid !important;
	margin:2px auto 2px auto;
	padding:0 2px 0 2px;
}
.board{
	width: 100% !important;
	height: 100% !important;
	background-color:green;
	
}

.list{
	width: 230px !important;
	height: 100% !important;
	background-color:yellow;
	text-align: center;
	
}

.v-slot-bordered-grid{
	height: 100%;
	overflow-x: scroll;
}
.comment{

	word-wrap: break-word;
	border-left:1px solid black;
	border-bottom:1px solid black; 
	padding:5px;
}
.comment-contener{
	margin-left:10px;
	width:100%;
}
.new-comment-contener{
	margin-top:10px;
	margin-left:10px;
	width:100%;
}